certifi==2019.3.9
chardet==3.0.4
Cython==0.29.6
Flask==1.0.2
Flask-Cors==3.0.3
h5py==2.9.0
html5lib==1.0.1
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.0.0
Jinja2
jsonschema==3.0.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.3
mpmath==1.1.0
nbdime==1.0.5
nbformat==4.4.0
networkx==2.2
numpy==1.16.2
opencv-contrib-python==4.0.0.21
pandas==0.24.2
pandocfilters==1.4.2
pyOpenSSL==19.0.0
python-dateutil==2.8.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
gunicorn
werkzeug
tornado==6.0.2
