body{
    font-family: sans-serif;
    background-color: #ecd8c6;
    background-image: url("https://images.unsplash.com/photo-1462392246754-28dfa2df8e6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* margin-top:10px; */
    /* height: 100%; */
}
#header{
    height: 100px;
}
.upload-input{
    align-content: center;
    width:400px;
    height:100px;
    border:3px solid #ecd8c6;
}

form{
    text-align:center;
    margin-top: 200px;
    /* margin-left: 550px;
    margin-bottom: 500px; */
}
.img_getter{
    margin-top:300px;
    margin-left:180px;
    height: 50px;
}

#logo_img{
    margin-left:50px;
    margin-top:650px;
    height: 150px;
}

/* #img_input_box{
    background-color: white;
    height:100px;
} */

/* file input form  */

.file-upload {
  background-color: rgba(142, 135, 112, 0.4);
  width: 600px;
  margin: 0 auto;
  margin-top:70px;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #491a0b;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #724627;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #a3482c;
  color: #a3482c;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #491a0b;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #491a0b;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #491a0b;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 120;
  text-transform: uppercase;
  color: black;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.upload-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

#snapshot_form{
    display: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgb(71, 55, 55);
  background-color: rgba(71, 55, 55, 0.5);
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
}
.origin{
    align:center;
}

.wrapper {
  margin-top:40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.0 {
  grid-column: 1;
  grid-row: 1;
}
.1 {
  grid-column: 1;
  grid-row: 2;
}
.2 {
  grid-column: 1;
  grid-row: 3;
}
.3 {
  grid-column: 2;
  grid-row: 1;
}
.4 {
  grid-column: 2;
  grid-row: 2;
}
.5 {
  grid-column: 2;
  grid-row: 3;
}
